<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
    <title>
      <% PlugMan.extensions(:main, :filter_title).each do |plugin| %>
        <%= plugin.filter_title %>
      <% end %>
    </title>

    <%= javascript_include_tag "jquery-1.11.0.min.js" %>
    <%= javascript_include_tag "video.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>

<!--<= stylesheet_include_tag "bootstrap.min.css" %>-->
<!--<= stylesheet_include_tag "bootstrap-theme.min.css" %> -->
    <%= stylesheet_include_tag "video-js.min.css" %>
    <%= stylesheet_include_tag "application.css"%>

    <script type="text/javascript">
      <%= "videojs.options.flash.swf = 'http://#{request.host}/video-js.swf'" %>
    </script>
	</head>
  <body>
    <div class="row-fluid">
      <header>
        <div class="container">
          <div id="header-left" class="span5">
            <div class="span4">
              <h1><!--id="logo" -->
                <% PlugMan.extensions(:main, :filter_header_logo).each do |plugin| %>
                  <%= plugin.filter_header_layout_logo %>
                <%end %>
                Videatra
              </h1>
            </div>
            <div class="span7">
              <% PlugMan.extensions(:main, :filter_header).each do |plugin| %>
                <%= plugin.filter_layout_header %>
              <% end %>
              <form accept-charset="UTF-8" action="/videos/search" id="search-form" method="get">
                <input id="search-field" name="search" placeholder="Search here..." type="text" required />
                <input id="search-button" type="submit" value="Search" />
              </form>
            </div>
          </div>
          <div id="header-right" class="span7">
            <nav>
              <ul class="nav-group">
                <li><a href="/videos"><i class="icon-film icon-white"></i>Videos</a></li>
              </ul>
              <% if authenticated? %>
                <div id="logged-in" class="nav-group">
                  <% PlugMan.extensions(:main, :filter_loged_in_header_menu).each do |plugin| %>
                    <%= plugin.filter_loged_in_header_menu %>
                  <% end %>
                  <div class="current-user dropdown">
                    <a href="/account-settings" data-toggle="dropdown">
                      <% PlugMan.extensions(:main, :filter_header_menu_dropdown).each do |plugin| %>
                        <%= plugin.filter_header_menu_dropdown %>
                      <% end %>
                      <span class="avatar"><img src="<%= current_user.profile.avatar.url %>" alt="avatar" /></span><%= current_user.profile.first_name %>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <% PlugMan.extensions(:main, :filter_user_dropdown_menu).each do |plugin| %>
                        <%= plugin.filter_user_dropdown_menu current_user %>
                      <% end %>
                      <li><a href="/user/profile" tabindex="-1"><i class="icon-white icon-edit"></i>Edit profile</a></li>
                      <li><a href="/subscriptions/show" id="subscriptions-header" tabindex="-1"><i class="icon-white icon-repeat"></i>Subscriptions</a></li>
                      <li><a href="/user/account" tabindex="-1"><i class="icon-white icon-cog"></i>Account settings</a></li>
                      <li><a href="/logout" data-method="delete" rel="nofollow" tabindex="-1"><i class="icon-white icon-off"></i>Log out</a></li>
                    </ul>
                  </div>
                </div>
              <% else %>
                <ul id="not-logged-in" class="nav-group">
                  <% PlugMan.extensions(:main, :filter_not_loged_in_header_menu).each do |plugin| %>
                    <%= plugin.filter_not_loged_in_header_menu%>
                  <% end %>
                  <li><a href="/log_in"><i class="icon-circle-arrow-right icon-white"></i>Login</a></li>
                  <li><a href="/sign_up"><i class="icon-check icon-white"></i>Register</a></li>
                </ul>
              <% end %>
            </nav>
          </div>
        </div>
      </header>
    </div>
    <% flash.each do |name, msg| %>
      <div class="row-fluid flash flash-<%= name %>">
        <div class="container">
          <% if msg.is_a?(Hash) %>
            <% msg.each do |k, v| %>
              <p><i class="icon-info-sign"></i><%= "#{k}: #{v[0]}" %></p>
            <% end %>
          <% else %>
            <i class="icon-info-sign"></i><%= msg %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="main-content">
      <%= yield %>
    </div>
    <footer class="row-fluid">
      <div class="container">
        <div class="span8">
          <div class="footer-padding">
            <ul class="footer-nav">
              <% PlugMan.extensions(:main, :filter_footer_menu).each do |plugin| %>
                <%= plugin.filter_footer_menu %>
              <% end %>
              <li><a href="/">Home</a></li>
            </ul>
            <% PlugMan.extensions(:main, :filter_footer).each do |plugin| %>
              <%= plugin.filter_footer %>
            <% end %>
            <p class="copyright">Copyright &copy; 2014 Videatra. All rights reserved.</p>
          </div>
        </div>
        <div class="span4">
          <ul class="social footer-padding">
            <% PlugMan.extensions(:main, :filter_footer_social).each do |plugin| %>
              <%= plugin.filter_footer_social %>
            <% end %>
          </ul>
        </div>
      </div>
    </footer>
  </body>
</html>
