<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
		<title>.::[Videatra]::.</title>

    <%= javascript_include_tag "jquery-1.11.0.min.js" %>
    <%= javascript_include_tag "video.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>

    <%= stylesheet_include_tag "bootstrap.min.css" %>
    <%= stylesheet_include_tag "bootstrap-theme.min.css" %>
    <%= stylesheet_include_tag "video-js.min.css" %>
    <%= stylesheet_include_tag "application.css"%>

    <script type="text/javascript">
      <%= "videojs.options.flash.swf = 'http://#{request.host}/video-js.swf'" %>
    </script>
	</head>
  <body>
    <div class="row-fluid">
      <header>
        <div class="container">
          <div id="header-left" class="span5">
            <div class="span4">
              <h1 id="logo"><a href="/"><img alt="FLLCasts" src="/images/logo.svg" xmlns="http://www.w3.org/2000/svg" /></a></h1>
            </div>
            <div class="span7">
              <!-- Should have a PlugMan hook here -->
              <form accept-charset="UTF-8" action="/videos/search" id="search-form" method="get">
                <input id="search-field" name="search" placeholder="Search here..." type="text" required />
                <input id="search-button" type="submit" value="Search" />
              </form>
            </div>
          </div>
          <div id="header-right" class="span7">
            <nav>
              <ul class="nav-group">
                <li><a href="/videos"><i class="icon-film icon-white"></i>Videos</a></li>
              </ul>
              <% if authenticated? %>
                <div id="logged-in" class="nav-group">
                  <!-- Should have a PlugMan hook here -->
                  <div class="current-user dropdown">
                    <a href="/account-settings" data-toggle="dropdown">
                      <span class="avatar"><!-- link to user avatar --></span><%= current_user.email %>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                      <!-- Should have a PlugMan hook here -->
                      <li><a href="/user/profile" tabindex="-1"><i class="icon-white icon-edit"></i>Edit profile</a></li>
                      <li><a href="/subscriptions/show" id="subscriptions-header" tabindex="-1"><i class="icon-white icon-repeat"></i>Subscriptions</a></li>
                      <li><a href="/user/account" tabindex="-1"><i class="icon-white icon-cog"></i>Account settings</a></li>
                      <li><a href="/logout" data-method="delete" rel="nofollow" tabindex="-1"><i class="icon-white icon-off"></i>Log out</a></li>
                    </ul>
                  </div>
                  <!-- Should have a PlugMan hook here -->
                </div>
              <% else %>
                <!-- Should have a PlugMan hook here -->
                <ul id="not-logged-in" class="nav-group">
                  <!-- Should have a PlugMan hook here -->
                  <li><a href="/log_in"><i class="icon-circle-arrow-right icon-white"></i>Login</a></li>
                  <li><a href="/sign_up"><i class="icon-check icon-white"></i>Register</a></li>
                </ul>
                <!-- Should have a PlugMan hook here -->
              <% end %>
            </nav>
          </div>
        </div>
      </header>
    </div>
    <% flash.each do |name, msg| %>
      <div class="row-fluid flash flash-notice">
        <div class="container">
          <% if msg.is_a?(Hash) %>
            <% msg.each do |k, v| %>
              <p><i class="icon-info-sign"></i><%= "#{k}: #{v[0]}" %></p>
            <% end %>
          <% else %>
            <i class="icon-info-sign"></i><%= msg %>
          <% end %>
        </div>
      </div>
    <% end %>
    <div id="main-content">
      <%= yield %>
    </div>
    <footer class="row-fluid">
      <div class="container">
        <div class="span8">
          <div class="footer-padding">
            <!-- Should have a PlugMan hook here -->
            <ul class="footer-nav">
              <!-- Should have a PlugMan hook here -->
              <li><a href="/">Home</a></li>
              <li><a href="/about">About</a></li>
              <li><a href="/subscriptions/show" id="subscriptions-footer">Subscriptions</a></li>
              <li><a href="/terms_of_use">Terms of Use</a></li>
              <li><a href="/privacy_policy">Privacy Policy</a></li>
            </ul>
            <!-- Should have a PlugMan hook here -->
            <p class="copyright">Copyright &copy; 2014 Videatra. All rights reserved.</p>
          </div>
        </div>
        <div class="span4">
          <!-- Should have a PlugMan hook here -->
          <ul class="social footer-padding">
            <!-- Should have a PlugMan hook here -->
            <li><a href="https://www.facebook.com/fllcasts"><img alt="Facebook" src="/images/social/facebook.png" title="Like our page on Facebook" /></a></li>
            <li><a href="https://vimeo.com/fllcasts"><img alt="Vimeo" src="/images/social/vimeo.png" title="Follow us on Vimeo" /></a></li>
          </ul>
          <!-- Should have a PlugMan hook here -->
        </div>
      </div>
    </footer>
  </body>
</html>
