<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'/>
    <% PlugMan.extensions(:main, :filter_layout_meta).each do |plugin| %>
      <%= plugin.filter_layout_meta %>
    <% end %>
    <title>
      <% PlugMan.extensions(:main, :filter_layout_page_title).each do |plugin| %>
        <%= plugin.filter_ui_page_title %>
      <% end %>
    </title>
    <%= javascript_include_tag "jquery-1.11.0.min.js" %>
    <%= javascript_include_tag "video.js" %>
    <%= javascript_include_tag "bootstrap.min.js" %>

    <%= stylesheet_include_tag "video-js.min.css" %>
    <%= stylesheet_include_tag "application.css"%>

    <% PlugMan.extensions(:main, :filter_layout_includes).each do |plugin| %>
      <%= plugin.filter_layout_includes %>
    <% end %>

    <% PlugMan.extensions(:main, :filter_layout_head).each do |plugin| %>
      <%= plugin.filter_layout_head %>
    <% end %>

    <script type="text/javascript">
      <%= "videojs.options.flash.swf = 'http://#{request.host}:#{request.port}/video-js.swf'" %>
    </script>
	</head>
  <body>
    <% PlugMan.extensions(:main, :filter_layout_body).each do |plugin| %>
      <%= plugin.filter_layout_body %>
    <% end %>
  </body>
</html>
