<script type='text/javascript'>
  function addFields(){
    var container = document.getElementById("video_files");
    container.appendChild(document.createTextNode("Video: "));
    var input = document.createElement("input");
    input.type = "file";
    input.name = "video_files[]";
    container.appendChild(input);
    container.appendChild(document.createElement("br"));
  }
</script>
<%= flash[:error] %>
<%= flash[:notice] %>
<form id="video_form" enctype="multipart/form-data" method="post" action="/videos/upload">
  <fieldset id="video_files">
    <legend><%= I18n.t 'video_files' %></legend>
    <%= I18n.t 'video' %>: <input type="file" name="video_files[]" required /></br>
  </fieldset>
  <table border="0">
    <tr>
      <td><label for="title"><%= I18n.t 'title' %>:</label></td>
      <td><input id="title" type="text" name="video[title]" placeholder="Video title" required /></td>
    </tr>
    <tr>
      <td><label for="description"><%= I18n.t 'description' %>:</label></td>
      <td><input id="description" type="text" name="video[description]" placeholder="Video description" required /></td>
    </tr>
    <tr>
      <td><label for="thumbnail"><%= I18n.t 'thumbnail' %>:</label></td>
      <td><input id="thumbnail" type="file" name="video[thumbnail]" required /></td>
    </tr>
    <tr>
      <td><input type="submit" value=<%= I18n.t 'upload' %> /></td>
      <td><input type="button" value=<%= I18n.t 'add_field' %> onclick="addFields()" /></td>
    </tr>
  </table>
</form>
