<article class="episode-partial span4">
    <div class="episode sheet">
      <div class="screenshot">
        <img alt="Pro" class="pro-label" src="/images/pro.png" />
        <a href="<%= "/videos/watch/#{video_link.id}" %>">
          <img alt="<%= video_link.title %>" class="full-width top episode-image" src="<%= video_link.thumbnail.url %>" />
        </a>
      </div>
      <div class="description-container collapsed">
        <div class="inside-sheet">
          <h3>
            <a href="<%= "/videos/watch/#{video_link.id}" %>" ><%= video_link.title %></a>
          </h3>
          <div class="description">
            <p><%= video_link.description %></p>
          </div>
        </div>
      </div>
      <ul id="episode-info">
        <!-- Should have PlugMan hook here -->
      </ul>
      <div class="form-actions">
        <div class="watch">
          <% if !current_user %>
            <a href="/log_in" class="btn btn-action">Sign in to watch</a>
          <% elsif !current_user.subscribed? video_link %>
            <a href="/subscribe" class="btn btn-action">Subscribe to watch</a>
          <% end %>
        </div>
      </div>
    </div>
</article>
